**Objectives**
  
- Explore the dataset
- Pre-process dataset as required (may be for visualization)

**Introduction**

The aim of this Project  is to provide you a refresher on the Pandas library, so that you can pre-process and anlyse the datasets 
before applying data visualization techniques on it. This project will work as vital backbone on pandas. 
detailed description and explanation of how to use it and how to clean, munge, and process data stored in a pandas dataframe.

**Table of Contents**

 1.Exploring Datasets with pandas
 
 2.The Dataset: Immigration to Canada from 1980 to 2013
 
 3.pandas Basics
 
 4.pandas Intermediate: Indexing and Selection
 
 5.pandas Filtering based on a criteria
 
 6.pandas Sorting Values

**The Dataset: Immigration to Canada from 1980 to 2013**

Dataset Source: **International migration flows to and from selected countries - The 2015 revision.**

The dataset contains annual data on the flows of international immigrants as recorded by the countries of destination. The data presents both inflows and outflows according to the place of birth, citizenship or place of previous / next residence both for foreigners and nationals. The current version presents data pertaining to 45 countries.

In this project, focuses on the Canadian immigration data.

In [7]:
!pip install openpyxl==3.0.9

Collecting openpyxl==3.0.9
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: et-xmlfile in c:\users\ewesit\anaconda3\lib\site-packages (from openpyxl==3.0.9) (1.1.0)
Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
   ---------------------------------------- 0.0/242.2 kB ? eta -:--:--
   - -------------------------------------- 10.2/242.2 kB ? eta -:--:--
   - -------------------------------------- 10.2/242.2 kB ? eta -:--:--
   - -------------------------------------- 10.2/242.2 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/242.2 kB 217.9 kB/s eta 0:00:01
   --------- ----------------------------- 61.4/242.2 kB 297.7 kB/s eta 0:00:01
   ---------------- --------------------- 102.4/242.2 kB 393.8 kB/s eta 0:00:01
   --------------------------- ---------- 174.1/242.2 kB 583.1 kB/s eta 0:00:01
   ----------------------------------- -- 225.3/242.2 kB 687.0 kB/s eta 0:00:01
   -------------------------------------- 242.2/242.2 kB 674.2 kB/s eta 0:00:00
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.1.2
    Uninstalling openpyxl-3.1.2:
      Successfully uninstalled openpyxl-3.1.2
Successfully installed openpyxl-3.0.9

Next, we'll do is import two key data analysis modules: pandas and numpy.

In [10]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

Let's download and import our primary Canadian Immigration dataset using pandas's read_excel() method.

In [1]:
!pip install openpyxl==3.0.9
!pip install openpyxl --upgrade

import pandas as pd

filepath = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx'

df_can = pd.read_excel(
    filepath,
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2
)

print('Data read into a pandas dataframe!')

Collecting openpyxl==3.0.9
  Using cached openpyxl-3.0.9-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: et-xmlfile in c:\users\ewesit\anaconda3\lib\site-packages (from openpyxl==3.0.9) (1.1.0)
Using cached openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.1.5
    Uninstalling openpyxl-3.1.5:
      Successfully uninstalled openpyxl-3.1.5
Successfully installed openpyxl-3.0.9
Requirement already satisfied: openpyxl in c:\users\ewesit\anaconda3\lib\site-packages (3.0.9)
Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: et-xmlfile in c:\users\ewesit\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.9
    Uninstalling openpyxl-3.0.9:
      Successfully uninstalled openpyxl-3.0.9
Successfully installed openpyxl-3.1.5
Data read into a pandas dataframe!

Let's view the top 5 rows of the dataset using the head() function.

In [4]:
df_can.head()
# tip: You can specify the number of rows you'd like to see as follows: df_can.head(10)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

We can also view the bottom 5 rows of the dataset using the **tail()** function.

In [7]:
df_can.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

When analyzing a dataset, it's always a good idea to start by getting basic information about your dataframe. We can do this by using the **info()** method.

This method can be used to get a short summary of the dataframe.

In [11]:
df_can.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 43 entries, Type to 2013
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

To get the list of column headers we can call upon the data frame's **columns** instance variable.

In [17]:
df_can.columns

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

Similarly, to get the list of indices we use the .index instance variables.

In [20]:
df_can.index

RangeIndex(start=0, stop=195, step=1)

Note: The default type of intance variables **index** and **columns** are **NOT** list.

In [23]:
print(type(df_can.columns))
print(type(df_can.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

To get the index and columns as lists, we can use the **tolist()** method.

In [26]:
df_can.columns.tolist()

['Type',
 'Coverage',
 'OdName',
 'AREA',
 'AreaName',
 'REG',
 'RegName',
 'DEV',
 'DevName',
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013]

In [28]:
df_can.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194]

In [30]:
print(type(df_can.columns.tolist()))
print(type(df_can.index.tolist()))

<class 'list'>
<class 'list'>

To view the dimensions of the dataframe, we use the **shape** instance variable of it.

In [35]:
# size of dataframe (rows, columns)
df_can.shape

(195, 43)

**Note:** The main types stored in pandas objects are **float, int, bool, datetime64[ns], datetime64[ns, tz], 
timedelta[ns], category,** and **object** (string). In addition, these dtypes have item sizes, e.g. int64 and int32

Let's clean the data set to remove a few unnecessary columns. We can use pandas **drop()** method as follows:

In [40]:
# in pandas axis=0 represents rows (default) and axis=1 represents columns.
df_can.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
df_can.head(2)

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603

Let's rename the columns so that they make sense. We can use **rename()** method by passing in a dictionary of old and new names as follows:

In [43]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df_can.columns

Index([  'Country', 'Continent',    'Region',   'DevName',        1980,
              1981,        1982,        1983,        1984,        1985,
              1986,        1987,        1988,        1989,        1990,
              1991,        1992,        1993,        1994,        1995,
              1996,        1997,        1998,        1999,        2000,
              2001,        2002,        2003,        2004,        2005,
              2006,        2007,        2008,        2009,        2010,
              2011,        2012,        2013],
      dtype='object')

We will also add a 'Total' column that sums up the total immigrants by country over the entire period 1980 - 2013, as follows:

In [7]:
import pandas as pd

# Define the file path
filepath = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx'

# Read the Excel file into a DataFrame
df_can = pd.read_excel(
    filepath,
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2
)

print('Data read into a pandas dataframe!')

# Convert all columns except the first one (assuming it's non-numeric) to numeric
df_can.iloc[:, 1:] = df_can.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

# Now, calculate the total
df_can['Total'] = df_can.iloc[:, 1:].sum(axis=1)

# Display the 'Total' column
print(df_can['Total'])

Data read into a pandas dataframe!
0      65977
1      18433
2      72156
3       2774
4       2749
       ...
190    99903
191     2719
192     5744
193     4392
194    11313
Name: Total, Length: 195, dtype: object

We can check to see how many null objects we have in the dataset as follows:

In [12]:
df_can.isnull().sum()

Type          0
Coverage    195
OdName      195
AREA          0
AreaName    195
REG           0
RegName     195
DEV           0
DevName     195
1980          0
1981          0
1982          0
1983          0
1984          0
1985          0
1986          0
1987          0
1988          0
1989          0
1990          0
1991          0
1992          0
1993          0
1994          0
1995          0
1996          0
1997          0
1998          0
1999          0
2000          0
2001          0
2002          0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          0
2011          0
2012          0
2013          0
Total         0
dtype: int64

Finally, let's view a quick summary of each column in our dataframe using the **describe()** method

In [15]:
df_can.describe

<bound method NDFrame.describe of            Type Coverage OdName  AREA AreaName   REG RegName  DEV DevName  \
0    Immigrants      NaN    NaN   935      NaN  5501     NaN  902     NaN
1    Immigrants      NaN    NaN   908      NaN   925     NaN  901     NaN
2    Immigrants      NaN    NaN   903      NaN   912     NaN  902     NaN
3    Immigrants      NaN    NaN   909      NaN   957     NaN  902     NaN
4    Immigrants      NaN    NaN   908      NaN   925     NaN  901     NaN
..          ...      ...    ...   ...      ...   ...     ...  ...     ...
190  Immigrants      NaN    NaN   935      NaN   920     NaN  902     NaN
191  Immigrants      NaN    NaN   903      NaN   912     NaN  902     NaN
192  Immigrants      NaN    NaN   935      NaN   922     NaN  902     NaN
193  Immigrants      NaN    NaN   903      NaN   910     NaN  902     NaN
194  Immigrants      NaN    NaN   903      NaN   910     NaN  902     NaN

     1980  ...  2005  2006  2007  2008  2009  2010  2011  2012  2013  Total
0      16  ...  3436  3009  2652  2111  1746  1758  2203  2635  2004  65977
1       1  ...  1223   856   702   560   716   561   539   620   603  18433
2      80  ...  3626  4807  3623  4005  5393  4752  4325  3774  4331  72156
3       0  ...     0     1     0     0     0     0     0     0     0   2774
4       0  ...     0     1     1     0     0     0     0     1     1   2749
..    ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
190  1191  ...  1852  3153  2574  1784  2171  1942  1723  1731  2112  99903
191     0  ...     0     1     0     0     0     0     0     0     0   2719
192     1  ...   161   140   122   133   128   211   160   174   217   5744
193    11  ...    91    77    71    64    60   102    69    46    59   4392
194    72  ...   615   454   663   611   508   494   434   437   407  11313

[195 rows x 44 columns]>

**pandas Intermediate: Indexing and Selection (slicing)**

**Select Column**

**There are two ways to filter on a column name:**

**Method 1:** Quick and easy, but only works if the column name does NOT have spaces or special characters.

In [12]:
df_can['AREA']

0      935
1      908
2      903
3      909
4      908
      ...
190    935
191    903
192    935
193    903
194    903
Name: AREA, Length: 195, dtype: int64

Method 2: More robust, and can filter on multiple columns.

In [5]:
import pandas as pd

# Define the file path
filepath = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx'

# Read the Excel file into a DataFrame
df_can = pd.read_excel(
    filepath,
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2
)

df_can['REG'] #returns series

0      5501
1       925
2       912
3       957
4       925
       ...
190     920
191     912
192     922
193     910
194     910
Name: REG, Length: 195, dtype: int64

In [7]:
df_can[['AREA', 'DEV']]  # returns dataframe

     AREA  DEV
0     935  902
1     908  901
2     903  902
3     909  902
4     908  901
..    ...  ...
190   935  902
191   903  902
192   935  902
193   903  902
194   903  902

[195 rows x 2 columns]

**Select Row**

There are main 2 ways to select rows:

In [11]:
import pandas as pd

# Define the file path
filepath = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx'

# Read the Excel file into a DataFrame
df_can = pd.read_excel(
    filepath,
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2
)

df_can.iloc[0]

Type                Immigrants
Coverage            Foreigners
OdName             Afghanistan
AREA                       935
AreaName                  Asia
REG                       5501
RegName          Southern Asia
DEV                        902
DevName     Developing regions
1980                        16
1981                        39
1982                        39
1983                        47
1984                        71
1985                       340
1986                       496
1987                       741
1988                       828
1989                      1076
1990                      1028
1991                      1378
1992                      1170
1993                       713
1994                       858
1995                      1537
1996                      2212
1997                      2555
1998                      1999
1999                      2395
2000                      3326
2001                      4067
2002                      3697
2003                      3479
2004                      2978
2005                      3436
2006                      3009
2007                      2652
2008                      2111
2009                      1746
2010                      1758
2011                      2203
2012                      2635
2013                      2004
Name: 0, dtype: object

This can be fixed very easily by setting the 'Country' column as the index using **set_index()** method.

In [22]:
# Display the column names
print(df_can.columns)

Index([    'Type', 'Coverage',     'AREA', 'AreaName',      'REG',  'RegName',
            'DEV',  'DevName',       1980,       1981,       1982,       1983,
             1984,       1985,       1986,       1987,       1988,       1989,
             1990,       1991,       1992,       1993,       1994,       1995,
             1996,       1997,       1998,       1999,       2000,       2001,
             2002,       2003,       2004,       2005,       2006,       2007,
             2008,       2009,       2010,       2011,       2012,       2013],
      dtype='object')

In [8]:
import pandas as pd

# Define the file path
filepath = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx'

# Read the Excel file into a DataFrame
df_can = pd.read_excel(
    filepath,
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2
)

# Set the 'OdName' column as the index
df_can.set_index('OdName', inplace=True)

In [10]:
df_can.head(3)

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
OdName,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,16,39,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Albania,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,1,0,...,1450,1223,856,702,560,716,561,539,620,603
Algeria,Immigrants,Foreigners,903,Africa,912,Northern Africa,902,Developing regions,80,67,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331

In [12]:
# optional: to remove the name of the index
df_can.index.name = None

Example: Let's view the number of immigrants from Japan (row 87) for the following scenarios: 1. The full row data 
(all columns) 2. For year 2013 3. For years 1980 to 1985

In [15]:
# 1. the full row data (all columns)
df_can.loc['Japan']

Type               Immigrants
Coverage           Foreigners
AREA                      935
AreaName                 Asia
REG                       906
RegName          Eastern Asia
DEV                       901
DevName     Developed regions
1980                      701
1981                      756
1982                      598
1983                      309
1984                      246
1985                      198
1986                      248
1987                      422
1988                      324
1989                      494
1990                      379
1991                      506
1992                      605
1993                      907
1994                      956
1995                      826
1996                      994
1997                      924
1998                      897
1999                     1083
2000                     1010
2001                     1092
2002                      806
2003                      817
2004                      973
2005                     1067
2006                     1212
2007                     1250
2008                     1284
2009                     1194
2010                     1168
2011                     1265
2012                     1214
2013                      982
Name: Japan, dtype: object

In [17]:
# alternate methods
df_can.iloc[87]

Type               Immigrants
Coverage           Foreigners
AREA                      935
AreaName                 Asia
REG                       906
RegName          Eastern Asia
DEV                       901
DevName     Developed regions
1980                      701
1981                      756
1982                      598
1983                      309
1984                      246
1985                      198
1986                      248
1987                      422
1988                      324
1989                      494
1990                      379
1991                      506
1992                      605
1993                      907
1994                      956
1995                      826
1996                      994
1997                      924
1998                      897
1999                     1083
2000                     1010
2001                     1092
2002                      806
2003                      817
2004                      973
2005                     1067
2006                     1212
2007                     1250
2008                     1284
2009                     1194
2010                     1168
2011                     1265
2012                     1214
2013                      982
Name: Japan, dtype: object

In [19]:
df_can[df_can.index == 'Japan']

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Japan,Immigrants,Foreigners,935,Asia,906,Eastern Asia,901,Developed regions,701,756,...,973,1067,1212,1250,1284,1194,1168,1265,1214,982

In [23]:
# alternate method
# year 2013 is the last column, with a positional index of 36
df_can.iloc[87, 36]

np.int64(1284)

In [25]:
# 3. for years 1980 to 1985
df_can.loc['Japan', [1980, 1981, 1982, 1983, 1984, 1984]]

1980    701
1981    756
1982    598
1983    309
1984    246
1984    246
Name: Japan, dtype: object

In [27]:
# Alternative Method
df_can.iloc[87, [3, 4, 5, 6, 7, 8]]

AreaName                 Asia
REG                       906
RegName          Eastern Asia
DEV                       901
DevName     Developed regions
1980                      701
Name: Japan, dtype: object

**Exercise:** Let's view the number of immigrants from **Haiti** for the following scenarios:
1. The full row data (all columns)
2. For year 2000
3. For years 1990 to 1995

In [31]:
df_can.loc['Haiti']
df_can.loc['Haiti', 2000]
df_can.loc['Haiti', [1990, 1991, 1992, 1993, 1994, 1995]]

1990    2379
1991    2829
1992    2399
1993    3655
1994    2100
1995    2014
Name: Haiti, dtype: object

In [33]:
df_can.loc['Haiti'] view the full row data (all colums)

Type                             Immigrants
Coverage                         Foreigners
AREA                                    904
AreaName    Latin America and the Caribbean
REG                                     915
RegName                           Caribbean
DEV                                     902
DevName                  Developing regions
1980                                   1666
1981                                   3692
1982                                   3498
1983                                   2860
1984                                   1418
1985                                   1321
1986                                   1753
1987                                   2132
1988                                   1829
1989                                   2377
1990                                   2379
1991                                   2829
1992                                   2399
1993                                   3655
1994                                   2100
1995                                   2014
1996                                   1955
1997                                   1645
1998                                   1295
1999                                   1439
2000                                   1631
2001                                   2433
2002                                   2174
2003                                   1930
2004                                   1652
2005                                   1682
2006                                   1619
2007                                   1598
2008                                   2491
2009                                   2080
2010                                   4744
2011                                   6503
2012                                   5868
2013                                   4152
Name: Haiti, dtype: object

In [35]:
# view For year 2000
df_can.loc['Haiti', 2000]

np.int64(1631)

In [37]:
#  view For years 1990 to 1995 
df_can.loc['Haiti', [1990, 1991, 1992, 1993, 1994, 1995]]

1990    2379
1991    2829
1992    2399
1993    3655
1994    2100
1995    2014
Name: Haiti, dtype: object

In [43]:
# 1. the full row data (all columns)
df_can.loc['Haiti']
# or
df_can[df_can.index == 'Haiti']

# 2. for year 2000
df_can.loc['Haiti', 2000]

# 3. for years 1990 to 1995
df_can.loc['Haiti', [1990, 1991, 1992, 1993, 1994, 1995]]

1990    2379
1991    2829
1992    2399
1993    3655
1994    2100
1995    2014
Name: Haiti, dtype: object

olumn names that are integers (such as the years) might introduce some confusion. For example, when we are referencing the year 2013, one might confuse that when the 2013th positional index.

To avoid this ambuigity, let's convert the column names into strings: '1980' to '2013'.

In [46]:
df_can.columns = list(map(str, df_can.columns))
# [print (type(x)) for x in df_can.columns.values] #<-- uncomment to check type of column headers

Since we converted the years to string, let's declare a variable that will allow us to easily call upon the full range of years:

In [49]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

**Exercise:** Create a list named 'year' using map function for years ranging from 1990 to 2013.
Then extract the data series from the dataframe df_can for Haiti using year list.

​

In [56]:
# Step 1: Create a list named 'year' for years ranging from 1990 to 2013
year = list(map(str, range(1990, 2014)))

# Step 2: Extract the data series from the dataframe df_can for Haiti using the 'year' list
haiti_data = df_can.loc['Haiti', year]

# Display the extracted data
print(haiti_data)

1990    2379
1991    2829
1992    2399
1993    3655
1994    2100
1995    2014
1996    1955
1997    1645
1998    1295
1999    1439
2000    1631
2001    2433
2002    2174
2003    1930
2004    1652
2005    1682
2006    1619
2007    1598
2008    2491
2009    2080
2010    4744
2011    6503
2012    5868
2013    4152
Name: Haiti, dtype: object

**Filtering based on a criteria**

To filter the dataframe based on a condition, we simply pass the condition as a boolean vector.

For example, Let's filter the dataframe to show the data on Asian countries (AreaName = Asia).

In [77]:
# 1. create the condition boolean series
condition = df_can['AreaName'] == 'Asia'
print(condition)

Afghanistan        True
Albania           False
Algeria           False
American Samoa    False
Andorra           False
                  ...
Viet Nam           True
Western Sahara    False
Yemen              True
Zambia            False
Zimbabwe          False
Name: AreaName, Length: 195, dtype: bool

In [71]:
# 2. pass this condition into the dataFrame
df_can[condition]

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Afghanistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,16,39,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Armenia,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,147,224,218,198,205,267,252,236,258,207
Azerbaijan,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,230,359,236,203,125,165,209,138,161,57
Bahrain,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,2,...,12,12,12,22,9,35,28,21,39,32
Bangladesh,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,83,84,...,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789
Bhutan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,0,0,...,1,5,10,7,36,865,1464,1879,1075,487
Brunei Darussalam,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,79,6,...,3,4,5,11,10,5,12,6,3,6
Cambodia,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,12,19,...,348,370,529,460,354,203,200,196,233,288
China,Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,5123,6682,...,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129
"China, Hong Kong Special Administrative Region",Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,0,0,...,536,729,712,674,897,657,623,591,728,774
"China, Macao Special Administrative Region",Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,0,0,...,21,21,32,16,12,21,21,13,33,29
Cyprus,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,132,128,...,11,7,9,4,7,6,18,6,12,16
Democratic People's Republic of Korea,Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,1,1,...,15,14,10,7,19,11,45,97,66,17
Georgia,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,106,114,125,132,112,128,126,139,147,125
India,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,8880,8670,...,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087
Indonesia,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,186,178,...,552,632,613,657,661,504,712,390,395,387
Iran (Islamic Republic of),Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,1172,1429,...,6348,5837,7480,6974,6475,6580,7477,7479,7534,11291
Iraq,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,262,245,...,1796,2226,1788,2406,3543,5450,5941,6196,4041,4918
Israel,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,1403,1711,...,2788,2446,2625,2401,2562,2316,2755,1970,2134,1945
Japan,Immigrants,Foreigners,935,Asia,906,Eastern Asia,901,Developed regions,701,756,...,973,1067,1212,1250,1284,1194,1168,1265,1214,982
Jordan,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,177,160,...,1733,1940,1827,1421,1581,1235,1831,1635,1206,1255
Kazakhstan,Immigrants,Foreigners,935,Asia,5500,Central Asia,902,Developing regions,0,0,...,545,506,408,436,394,431,377,381,462,348
Kuwait,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,1,0,...,74,66,35,62,53,68,67,58,73,48
Kyrgyzstan,Immigrants,Foreigners,935,Asia,5500,Central Asia,902,Developing regions,0,0,...,245,173,161,135,168,173,157,159,278,123
Lao People's Democratic Republic,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,11,6,...,38,42,74,53,32,39,54,22,25,15
Lebanon,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,1409,1119,...,3293,3709,3802,3467,3566,3077,3432,3072,1614,2172
Malaysia,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,786,816,...,401,593,580,600,658,640,802,409,358,204
Maldives,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,0,0,...,1,0,0,2,1,7,4,3,1,1
Mongolia,Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,0,0,...,34,59,64,82,59,118,169,103,68,99
Myanmar,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,80,62,...,191,210,953,1887,975,1153,556,368,193,262
Nepal,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,1,1,...,404,607,540,511,581,561,1392,1129,1185,1308
Oman,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,12,14,18,16,10,7,14,10,13,11
Pakistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,978,972,...,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603
Philippines,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,6051,5921,...,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544
Qatar,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,5,11,2,5,9,6,18,3,14,6
Republic of Korea,Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,1011,1456,...,5352,5832,6215,5920,7294,5874,5537,4588,5316,4509
Saudi Arabia,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,128,198,252,188,249,246,330,278,286,267
Singapore,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,241,301,...,311,392,298,690,734,366,805,219,146,141
Sri Lanka,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,185,371,...,4495,4930,4714,4123,4756,4547,4422,3309,3338,2394
State of Palestine,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,376,453,627,441,481,400,654,555,533,462
Syrian Arab Republic,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,315,419,...,1116,1458,1145,1056,919,917,1039,1005,650,1009
Tajikistan,Immigrants,Foreigners,935,Asia,5500,Central Asia,902,Developing regions,0,0,...,14,85,46,44,15,50,52,47,34,39
Thailand,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,56,53,...,392,575,500,487,519,512,499,396,296,400
Turkey,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,481,874,...,1736,2065,1638,1463,1122,1238,1492,1257,1068,729
Turkmenistan,Immigrants,Foreigners,935,Asia,5500,Central Asia,902,Developing regions,0,0,...,16,40,26,37,13,20,30,20,20,14
United Arab Emirates,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,2,...,41,31,42,37,33,37,86,60,54,46
Uzbekistan,Immigrants,Foreigners,935,Asia,5500,Central Asia,902,Developing regions,0,0,...,175,330,262,284,215,288,289,162,235,167
Viet Nam,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
Yemen,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,1,2,...,124,161,140,122,133,128,211,160,174,217

In [81]:
# we can pass multiple criteria in the same line.
# let's filter for AreaNAme = Asia and RegName = Southern Asia

df_can[(df_can['AreaName']=='Asia') & (df_can['RegName']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Afghanistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,16,39,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Bangladesh,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,83,84,...,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789
Bhutan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,0,0,...,1,5,10,7,36,865,1464,1879,1075,487
India,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,8880,8670,...,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087
Iran (Islamic Republic of),Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,1172,1429,...,6348,5837,7480,6974,6475,6580,7477,7479,7534,11291
Maldives,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,0,0,...,1,0,0,2,1,7,4,3,1,1
Nepal,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,1,1,...,404,607,540,511,581,561,1392,1129,1185,1308
Pakistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,978,972,...,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603
Sri Lanka,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,185,371,...,4495,4930,4714,4123,4756,4547,4422,3309,3338,2394

**Exercise:** Fetch the data where AreaName is 'Africa' and RegName is 'Southern Africa'.
Display the dataframe and find out how many instances are there?

In [92]:
  # Filter the DataFrame for AreaName = 'Africa' and RegName = 'Southern Africa'
southern_africa_data = df_can[(df_can['AreaName'] == 'Africa') & (df_can['RegName'] == 'Southern Africa')]

# Display the filtered DataFrame
print(southern_africa_data)

# Find out how many instances are there
num_instances = southern_africa_data.shape[0]
print(f"Number of instances: {num_instances}")

                    Type    Coverage  AREA AreaName  REG          RegName  \
Botswana      Immigrants  Foreigners   903   Africa  913  Southern Africa
Lesotho       Immigrants  Foreigners   903   Africa  913  Southern Africa
Namibia       Immigrants  Foreigners   903   Africa  913  Southern Africa
South Africa  Immigrants  Foreigners   903   Africa  913  Southern Africa
Swaziland     Immigrants  Foreigners   903   Africa  913  Southern Africa

              DEV             DevName  1980  1981  ...  2004  2005  2006  \
Botswana      902  Developing regions    10     1  ...     9     7    11
Lesotho       902  Developing regions     1     1  ...     2     4     0
Namibia       902  Developing regions     0     5  ...     9     6    19
South Africa  902  Developing regions  1026  1118  ...  1175   988  1111
Swaziland     902  Developing regions     4     1  ...     8     7     7

              2007  2008  2009  2010  2011  2012  2013
Botswana         8    28    15    42    53    64    76
Lesotho          4     1     8     7     1     0     6
Namibia         13    26    14    16    23    24    83
South Africa  1200  1123  1188  1238   959  1243  1240
Swaziland        5     6    10     3    13    17    39

[5 rows x 42 columns]
Number of instances: 5

**Sorting Values of a Dataframe or Series**

You can use the **sort_values()** function is used to sort a DataFrame or a Series based on one or more columns.
You to specify the column(s) by which you want to sort and the order (ascending or descending). Below is the syntax to use it:-

In [99]:
df_can.sort_values(by='RegName', ascending=False, axis=0, inplace=True)
top_5 = df_can.head(5)
top_5

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Belgium,Immigrants,Foreigners,908,Europe,926,Western Europe,901,Developed regions,511,540,...,411,400,302,363,335,358,363,332,402,379
Netherlands,Immigrants,Foreigners,908,Europe,926,Western Europe,901,Developed regions,1889,1858,...,749,813,837,615,818,786,759,586,504,395
Monaco,Immigrants,Foreigners,908,Europe,926,Western Europe,901,Developed regions,0,0,...,1,1,1,1,0,0,4,1,3,1
France,Immigrants,Foreigners,908,Europe,926,Western Europe,901,Developed regions,1729,2027,...,4391,4429,4002,4290,4532,5051,4646,4080,6280,5623
Luxembourg,Immigrants,Foreigners,908,Europe,926,Western Europe,901,Developed regions,14,4,...,9,10,9,9,3,5,8,11,6,7

**Exercise:** Find out top 3 countries that contributes the most to immigration to Canda in the year 2010.
Display the country names with the immigrant count in this year

In [104]:
df_can.sort_values(by='2010', ascending=False, axis=0, inplace=True)
top3_2010 = df_can['2010'].head(3)
top3_2010

Philippines    38617
India          34235
China          30391
Name: 2010, dtype: int64

In [108]:
df_can.sort_values(by='2010', ascending=False, axis=0, inplace=True)
bottom3_2010 = df_can['2010'].tail(3) #bottom 3 countries 
bottom3_2010

Western Sahara    0
Canada            0
New Caledonia     0
Name: 2010, dtype: int64

**Author** 

Ewesit Ekidor